{% extends "base.html" %}

{% block content %}

<h1>Edit Credential</h1>

<form method="POST">

    <input
        type="hidden"
        name="csrf_token"
        value="{{ csrf_token() }}"
    >

    <label>Service Name</label>

    <input
        type="text"
        name="service_name"
        value="{{ credential['service_name'] }}"
        required
    >


    <label>Username</label>

    <input
        type="text"
        name="username"
        value="{{ credential['username'] }}"
        required
    >


    <label>New Password</label>

    <input
        type="password"
        name="password"
        required
    >


    <label>Website URL</label>

    <input
        type="url"
        name="website_url"
        value="{{ credential['website_url'] or '' }}"
    >


    <button type="submit">
        Update Credential
    </button>

</form>

{% endblock %}